@model Xlns.PartiComodo.Core.Model.Flyer
<div class="row">
    <div class="span8">
    @foreach (var viaggio in Model.Viaggi)
    { 

    }
    </div>
    <div class="span4">
        <h3>
        </h3>
        <p>
            <img src="@Url.Content("~/Content/images/poster_sanremo.jpg")" alt=""  class="img-polaroid" /></p>
    </div>
</div>
