@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Xlns.PartiComodo.Core.Model.Agenzia
<div class="row">
    <div class="span4">
        <h3>
            Hai perso la Password?</h3>
        <p>
            Inserisci la tua email!
        </p>
        @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post))
        {
            <p>
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)</p>
            <p>
                La nuova password verrà inviata all'indirizzo di posta elettronica indicato</p>
            <p>
                <input type="submit" value="Recupera Password" class="btn btn-primary btn-large" />
            </p>
        }
    </div>
    <div class="span4">
        <h3>
        </h3>
        <p>
            <img src="@Url.Content("~/Content/images/poster_cortina.jpg")" alt=""></p>
    </div>
    <div class="span4">
        <h3>
        </h3>
        <p>
            <img src="@Url.Content("~/Content/images/poster_sanremo.jpg")" alt=""></p>
    </div>
</div>
