@using Xlns.PartiComodo.UI.Web.Controllers.Helper;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Xlns.PartiComodo.Core.Model.Viaggio
<ul class="nav nav-tabs">
    <li><a href="#details" data-toggle="tab">Dettaglio del Viaggio</a></li>
    <li><a href="#map" data-toggle="tab">Vedi il Percorso</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="details">
        <div class="row">
            <div class="span8">
                <h3>@Model.Nome</h3>
                <p>@Model.Descrizione</p>
                <p>
                    @using (Html.BeginForm("Confirm", "Admin", FormMethod.Post))
                    { 
                        @Html.HiddenFor(c => c.Id)
                        if (Session.IsLoggedAsAdmin())
                        { 
                            <input type="submit" value="Approva il Viaggio" class="btn btn-primary btn-large" />
                        }
                    }
                </p>
            </div>
            <div class="span4">
                <h3>
                    Pubblicità</h3>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="map">
        <div class="row">
            <div class="span8">
                <h3>
                    Mappa GMap</h3>
            </div>
            <div class="span4">
                <h3>
                    Pubblicità</h3>
            </div>
        </div>
    </div>
</div>
